<!--Login side of enter site-->
<div class="container col-md-6 col-xs-12 login_side">
    <div class="center_over_pic container">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary btn_custom col-6" id="btn_login">Login</button>
        </div>

        <form method="POST" action="{{ url_for('login') }}" id="login_form" name="login_form" class="hide clean_background">
            <div class="form-group ">
                <label for="login" class="text_colour_white">Enter your username</label>
                <input type="text" class="form-control" name="login" id="login" maxlength="100" placeholder="first name.last name" required>
            </div>
            <br>
            <div class="form-group">
                <label for="password_user" class="text_colour_white">Password</label>
                <input type="password" class="form-control" name="password_user" id="password_user" maxlength="30" placeholder="Password" required>
            </div>

            <br>
            <button type="submit" name="login_btn" class="btn btn_enter col-4">Submit</button>
        </form>
        <!--Flash errors if problem here-->
        <br> {% for message in get_flashed_messages(category_filter=["login"]) %}
        <div class="row justify-content-center">
            <div class="alert alert-warning col-6">
                <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>