<div class="container col-md-6 col-xs-12 new_member" id="new_member">
    <div class="center_over_pic">
        <button type="button" class="btn btn-primary btn_new_member" id="btn_new_member"><h4>New Member</h4></button>
        <form method="POST" action="{{ url_for('sign_up') }}" id="new_member_form" class="hide clean_background">
            <div class="form-group ">
                <label for="new_member_first" class="text_colour_white">Whats Your first Name?</label>
                <input type="text" class="form-control text_colour_white" name="new_member_first" id="new_member_first" placeholder="First Name" required>
            </div>
            <br>
            <div class="form-group">
                <label for="new_password" class="text_colour_white">Whats the Welcome Password?</label>
                <input type="password" class="form-control text_colour_white" name="new_password" id="new_password" placeholder="Password" required>
            </div>
            <br>
            <button type="submit" name="new_member_btn" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>