{% extends '/employeeinfo/new_member_info.html' %} {% block jumbotron %}
<div class="container">
    <p class="title_jumbo">Welcome to Develop.This {{ new_first_name }}!</p>
    <br>
    <p class="text_jumbo">Your username is {{ username }}.</p>
</div>

{% endblock %} {% block personal_info %}

<form id="bank_form" method="POST">
    <div class="form-group row">
        <label for="bank_name" class="col-sm-2 inline_form">Bank Name</label>
        <input type="text" class="form-control col-sm-10" id="bank_name" name="bank_name" aria-describedby="first_name" placeholder="Which bank do you use?">

    </div>
    <br>
    <div class="form-group row">
        <label for="bank_number" class="col-sm-2 inline_form">Bank Number</label>
        <input type="number" class="form-control col-sm-10" id="bank_number" name="bank_number" placeholder="Your bank number">
    </div>

    <br>
    <button type="submit" class="btn btn-primary col-sm-2 float-right">Submit</button>
</form>
<br>
<br>
<br>
<div class="row new_username">
    <h4>Your username is <b>{{ username }}</b></h4>
</div>
{% endblock %}