{% extends 'new_member_info.html' %} {% block personal_info %}

<form id="bank_form" method="POST">
    <div class="form-group row">
        <label for="bank_name" class="col-sm-2 inline_form">Bank Name</label>
        <input type="text" class="form-control col-sm-10" id="bank_name" name="bank_name" aria-describedby="first_name" placeholder="Which bank do you use?">

    </div>
    <br>
    <div class="form-group row">
        <label for="bank_number" class="col-sm-2 inline_form">Bank Number</label>
        <input type="number" class="form-control col-sm-10" id="bank_number" name="bank_number" placeholder="Your bank number">
    </div>

    <br>
    <button type="submit" class="btn btn-primary col-sm-2 float-right">Submit</button>
</form>
{% endblock %}