{% extends 'base.html' %} {% block content %}
<div class="jumbotron jumbo_image">
    {% block jumbotron %} {% endblock %}
</div>
<br>
<div class="container">
    <h3>Empolyees Details</h3>
    <br>
    <div class="col-xs-12 ">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="personal_tab" href="{{ url_for('add_personal_info') }}">Personal Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="emergcy_tab" href="{{ url_for('emergcy') }}">Emergcy Infomation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bank_tab" href="{{ url_for( 'bank_details') }}">Bank Details</a>
            </li>
        </ul>

    </div>
    <br> {% block personal_info %} {% endblock %} {% endblock %}