{% extends '/employeeinfo/new_member_info.html' %} {% block jumbotron %}
<div class="container">
    <h1 class="display-9">Welcome to Develop.This {{ new_first_name }}!</h1>
    <br>
    <h4>We are happy that you have decided to joing the family.</h4>
</div>

{% endblock %}{% block personal_info %}
<form id="personal_form" method="POST">
    <div class="form-group row">
        <label for="first_name" class="col-sm-2 inline_form">First Name</label>
        <input type="text" class="form-control col-sm-10" id="first_name" name="first_name" aria-describedby="first_name" placeholder={{ new_first_name }} value={{ new_first_name }}>

    </div>
    <br>
    <div class="form-group row">
        <label for="last_name" class="col-sm-2 inline_form">Last Name</label>
        <input type="text" class="form-control col-sm-10" id="last_name" name="last_name" placeholder="Last Name..." required>
    </div>
    <br>
    <div class="form-group row">
        <label for="dob" class="col-sm-2 inline_form">Date of Birth</label>
        <input type="date" class="form-control col-sm-10" id="dob" name="dob" placeholder="Your date of birth...">
    </div>
    <br>
    <div class="form-group row">
        <label for="mob_number" class="col-sm-2 inline_form">Mob Number</label>
        <input type="tel" class="form-control col-sm-10" id="mob" name="mob" placeholder="Mob Number..." required>
    </div>
    <br>
    <div class="form-group row">
        <label for="home_number" class="col-sm-2 inline_form">Home Number</label>
        <input type="tel" class="form-control col-sm-10" id="home_number" name="home_number" placeholder="Home Number if available...">
    </div>
    <br>
    <div class="form-group row">
        <label for="address" class="col-sm-2 inline_form">Address</label>
        <input type="text" class="form-control col-sm-10" id="address" name="address" placeholder="Your postal address..." required>
    </div>
    <br>
    <div class="form-group row">
        <label for="password" class="col-sm-2 inline_form">Password</label>
        <input type="password" class="form-control col-sm-10" id="password" name="password" placeholder="Enter your own password...">
    </div>
    <br>
    <button type="submit" class="btn btn-primary col-sm-4 float-right ">Save and Next</button>
    <br>
</form>

{% endblock %}