{% extends '/employee_info/new_member_info.html' %} {% block jumbotron %}
<div class="container">
    <p class="title_jumbo">Welcome to Develop.This {{ new_first_name }}!</p>
    <br>
    <p class="text_jumbo">We are happy that you have decided to joing the family.</p>
</div>
{% endblock %}{% block personal_info %}

<!--First Form to get information about new user-->
<form id="personal_form" method="POST">
    <br>
    <!--These 3 rows helps create the username-->
    <div class="form-group row">
        <label for="first_name" class="col-sm-2 inline_form">First Name</label>
        <input type="text" class="form-control col-sm-10" id="first_name" style="text-transform: lowercase" name="first_name" aria-describedby="first_name" maxlength="30" placeholder={{ new_first_name }} value={{ new_first_name }}>

    </div>
    <br>
    <div class="form-group row">
        <label for="last_name" class="col-sm-2 inline_form">Last Name</label>
        <input type="text" class="form-control col-sm-10" id="last_name" style="text-transform: lowercase" name="last_name" placeholder="Last Name..." maxlength="30" required>
    </div>
    <br>
    <div class="form-group row">
        <label for="dob" class="col-sm-2 inline_form">Date of Birth</label>
        <input type="date" class="form-control col-sm-10" id="dob" name="dob" placeholder="Your date of birth..." required>
    </div>
    <br>
    <div class="form-group row">
        <label for="mob_number" class="col-sm-2 inline_form">Mob Number</label>
        <input type="tel" class="form-control col-sm-10" id="mob" name="mob" placeholder="Mob Number..." maxlength="30" required>
    </div>
    <br>
    <div class="form-group row">
        <label for="home_number" class="col-sm-2 inline_form">Home Number</label>
        <input type="tel" class="form-control col-sm-10" id="home_number" name="home_number" maxlength="30" placeholder="Home Number if available...">
    </div>
    <br>
    <div class="form-group row">
        <label for="address" class="col-sm-2 inline_form">Address</label>
        <input type="text" class="form-control col-sm-10" id="address" name="address" maxlength="150" placeholder="Your postal address..." required>
    </div>
    <br>
    <!-- Password is encrypted by python -->
    <div class="form-group row">
        <label for="password" class="col-sm-2 inline_form">Password</label>
        <input type="password" class="form-control col-sm-10" id="password" name="password" maxlength="30" placeholder="Enter your own password...">
    </div>
    <br>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary col-sm-4">Save and Next</button>
    </div>
    <br>
</form>

{% endblock %}