/* Style the signup and login pages */

.intro_message {
    font-style: italic;
    text-align: center;
}

.new_member,
.login_side,
.jumbo_image {
    background-size: cover;
    width: 100%;
    border: white solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new_member,
.login_side {
    height: 500px;
    filter: grayscale(85%);
    background-position: center;
}

.new_member {
    background-image: url(/static/imagines/group.jpg);
}

.login_side {
    background-image: url(/static/imagines/working.jpg);
}

.login_side:hover,
.new_member:hover {
    filter: grayscale(0);
}

.hide {
    display: none;
}

.clean_background {
    background-color: rgb(0, 123, 255, 0.4);
    padding: 10px;
    box-shadow: 0px 0px 3px #205ca1;
}

.text_colour_white {
    color: white;
    font-size: 2em;
}

 ::placeholder {
    font-size: 1em;
}

.btn_login,
.btn_new_member {
    height: 8vh !important
}

.btn_login,
.btn_new_member {
    height: 8vh !important
}

input[type=text]:focus,
input[type=password]:focus {
    color: black;
    font-size: 1.5em;
}

input[type="text"],
input[type=password] {
    color: black;
    font-size: 1.5em !important;
}

.title {
    padding-left: 5%;
}

.no_margin {
    margin: 0;
}


/* Buttons */

.btn_custom {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.btn_enter {
    width: 100%;
    border-radius: 5px;
    height: 5vh;
    min-height: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(32, 92, 161);
}


/* Form size */

.center_over_pic {
    width: 80%;
    max-width: 400px;
}