/* login / New member page */

body {
    background-color: rgb(237, 252, 250, 0.4);
}

.intro_message {
    font-style: italic;
    text-align: center;
}

.new_member,
.login_side,
.jumbo_image {
    background-size: cover;
    width: 100%;
    border: white solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new_member,
.login_side {
    height: 500px;
    filter: grayscale(85%);
    background-position: center;
}

.new_member {
    background-image: url(/static/imagines/group.jpg);
}

.login_side {
    background-image: url(/static/imagines/working.jpg);
}

.login_side:hover,
.new_member:hover {
    filter: grayscale(0);
}

.btn_login,
.btn_new_member {
    width: 200px;
    height: 100px !important;
}

.hide {
    display: none;
}

.clean_background {
    background-color: rgb(0, 123, 255, 0.7);
    border: black solid 1px;
    border-radius: 3px;
    padding: 10px;
}

.text_colour_white {
    color: white;
    font-size: 2em;
}

::placeholder {
    color: rgb(255, 255, 255, 0.8) !important;
    font-size: 1.5em;
}


/* Detail forms */

nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}

nav>.nav.nav-tabs.active {
    background: rgb(0, 123, 255, 0.3);
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: rgb(0, 123, 255, 0.3);
    border-radius: 0;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #e74c3c;
    border-bottom: 5px solid #e74c3c;
    padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
    border: none;
    background: rgb(0, 123, 255);
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.form-group {
    margin: 0
}

.inline_form {
    top: 5px
}


/* Jumbotron */

.jumbo_image {
    background-image: url(/static/imagines/jumbo.jpg);
    height: 15%;
    color: white;
}

.testing {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* The side navigation menu */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


/* Sidebar links */

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}


/* Active/current link */

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}


/* Links on mouse-over */

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

div.content {
    padding: 1px 16px;
    height: 1000px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* project pages */

.testingABC {
    white-space: nowrap;
    overflow-x: scroll;
    display: block;
    margin: 10px;
    padding: 15px;
}

.testCOL {
    height: 100%;
    display: inline-block;
    margin: 10px;
    white-space: nowrap;
    background-color: #f1f1f1;
    padding: 15px;
}