/* login / New member page */

body {
    background-color: rgb(237, 252, 250, 0.4);
}

.intro_message {
    font-style: italic;
    text-align: center;
}

.new_member,
.login_side {
    background-size: cover;
    background-position: center;
    filter: grayscale(85%);
    height: 500px;
    width: 100%;
    border: white solid 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new_member {
    background-image: url(/static/imagines/group.jpg);
}

.login_side {
    background-image: url(/static/imagines/working.jpg);
}

.login_side:hover,
.new_member:hover {
    filter: grayscale(0);
}

.btn_login,
.btn_new_member {
    width: 200px;
}

.hide {
    display: none;
}

.clean_background {
    background-color: rgb(0, 123, 255, 0.3);
    border: black solid 1px;
    border-radius: 3px;
    padding: 10px;
}

.text_colour_white {
    color: white;
}


/* Detail forms */

nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}

nav>.nav.nav-tabs.active {
    background: rgb(0, 123, 255, 0.3);
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: rgb(0, 123, 255, 0.3);
    border-radius: 0;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #e74c3c;
    border-bottom: 5px solid #e74c3c;
    padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
    border: none;
    background: rgb(0, 123, 255);
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.form-group {
    margin: 0
}

.inline_form {
    top: 5px
}