/* login / New member page */

body {
    background-color: rgb(237, 252, 250, 0.4);
}


/* Detail forms */

nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}

nav>.nav.nav-tabs.active {
    background: rgb(0, 123, 255, 0.3);
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: rgb(0, 123, 255, 0.3);
    border-radius: 0;
}

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #e74c3c;
    border-bottom: 5px solid #e74c3c;
    padding: 30px 25px;
}

nav>div a.nav-item.nav-link:hover,
nav>div a.nav-item.nav-link:focus {
    border: none;
    background: rgb(0, 123, 255);
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.form-group {
    margin: 0
}

.inline_form {
    top: 5px
}


/* Jumbotron */

.jumbo_image {
    background-image: url(/static/imagines/jumbo.jpg);
    background-position: top;
    position: sticky !important;
    height: 15%;
    color: white;
    text-shadow: 1px 1px grey;
    margin: 0;
    z-index: 20;
    top: 0;
}

.testing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_jumbo {
    font-size: 5vh;
}

.text_jumbo {
    font-size: 3vh;
}


/* The side navigation menu */

.sidebar {
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}


/* Sidebar links */

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}


/* Active/current link */

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}


/* Links on mouse-over */

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

div.content {
    padding: 1px 16px;
    height: 1000px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */

@media screen and (max-width: 992px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}


/* project pages */

.testingABC {
    white-space: nowrap;
    overflow-x: scroll;
    display: block;
    margin: 10px;
    padding: 15px;
}

.testCOL {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 10px;
    background-color: #f1f1f1;
    padding: 15px;
}

.col_size {
    max-width: 400px;
}

.box {
    margin: 10px;
}

.row_no_margin {
    margin: 0;
}