{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/intro_style.css')}}" type="text/css" />
<br>
<h2 class="title">Develop.This Construction Crew</h2>
<br>

<div class="row">
    <div class="container intro_message">
        <h5>develop / dɪˈvel.əp / verb: to bring out the capabilities or possibilities of; bring to a more advanced or effective state.</h5>
    </div>
</div>
<br>

<div class="row">
    {% include '/sign/sign_up.html' %} {% include '/sign/login.html' %}
</div>
<br>
<div class="row">
    <div class="container intro_message">
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, debitis nisi. Cupiditate numquam voluptatem accusamus porro iure. Nesciunt non vitae illum incidunt? Explicabo, esse incidunt pariatur error id iure laudantium?</h5>
    </div>
</div>

<script src="{{url_for('static', filename='js/intro_page.js')}}"></script>
{% endblock %}