<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Construction Interaction</title>
</head>

<body>

    <h1>main page welcomes </h1>
    <h1>Testing admin</h1>

    {% if session['admin'] %}
    <button> Add Project </button> {% else %}
    <h1>Not admin</h1>
    {% endif %}
    <h4>check change</h4>
    <h5>{{ session }}</h5>

    <div class="row">
        <div class="col-3">
            <div class="sidebar">
                <a class="active" href="#home">Home</a>
                <a href="{{url_for( 'Schudle')}}">Schudle</a>
                <a href="{{url_for( 'time_log')}}">Time Logs</a>
                <a href="{{url_for( 'projects')}}">Projects</a>
                <a href="">Messages</a>
            </div>
        </div>
        <div class="col-9">

            <div class="container-fluid">
                {% block main %} {% endblock %}
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>