<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Construction Interaction</title>
</head>

<body>
    <div class="jumbotron jumbo_image">
        <div class="container">
            <h1 class="display-9">Welcome to Develop.This {{ new_first_name }}!</h1>
            <br>
            <h3 class="lead">Your username is {{ username }}.</h3>
        </div>
    </div>





    <div class="row">
        <div class="col-xs-12 col-lg-2">
            <div class="sidebar">
                <a class="active" href="#home">Home</a>

                <a href="{{url_for('time_log')}}">Time Logs</a>
                <a href="{{url_for('projects')}}">Projects</a>
                <a href="{{url_for('employees')}}">Employees</a>

            </div>
        </div>
        <div class="col-xs-12 col-lg-10">

            <div>
                {% block main %} {% endblock %}
            </div>
            <div>
                {% block main_ext %} {% endblock %}
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>