{% extends 'base.html' %} {% block content %}
<div class="jumbotron jumbo_image">
    <div class="container">
        <h1 class="display-9">Develop This!</h1>
        <br>
        <h3 class="lead">Welcome {{ session.first_name }}</h3>

    </div>
</div>

<div class="row">
    <div class="col-md-2 col-xs-12 no_padding long">
        <div class="sidebar ">
            <a class="active " href="{{url_for('home')}}" id="home_tab" href="#home">Home</a>
            <a class="" href="{{url_for('timelogs_info')}}" id="time_tab">Time Logs</a>
            <a class="" href="{{url_for('projects')}}" id="projects_tab">Projects</a>
            <a class="" href="{{url_for('employees')}}" id="employees_tab">Employees</a>
        </div>
    </div>
    <div class="col-md-10 col-xs-12 adjust">
        <div>
            <br> {% block main %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}