{% extends 'main.html' %}{% block main %}

<h1>Warning</h1>
<br>
<h3>You are about to remove <b><u>{{employee.first_name}} {{employee.last_name}}</u></b> From the database</h3>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="{{url_for('employees')}}" class="btn btn-primary btn-sm btn_employees">Back to Employees</a>
        </div>
        <div class="col-6">
            <a href="{{url_for('remove_employee', delete_id=employee._id)}}" class="btn btn-warning btn-sm btn_employees ">Remove Employee</a>
        </div>
    </div>
</div>

{% endblock %}