<!--Warning Page before deleting an employee-->
{% extends 'main.html' %}{% block main %}
<h1>Warning</h1>
<br>
<h3>You are about to remove <b><u>{{employee.first_name}} {{employee.last_name}}</u></b> From the database</h3>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-6 btn-padding">
            <a href="{{url_for('employees')}}" class="btn btn-primary btn_custom btn_employees btn-lg btn-block">Back</a>
        </div>
        <div class="col-6">
            <a href="{{url_for('remove_employee', delete_id=employee._id)}}" class="btn btn-warning btn_custom btn_employees btn-lg btn-block">Remove</a>
        </div>
    </div>
</div>

{% endblock %}