<!--Edit employee-->
{% extends 'main.html' %}{% block main %}
<form id="personal_form" method="POST">
    <div class="form-group row">
        <label for="first_name" class="col-sm-2 inline_form">First Name</label>
        <textarea type="text" class="form-control col-sm-10" id="first_name" style="text-transform: lowercase" name="first_name" maxlength="30" aria-describedby="first_name">{{edit_employee.first_name}}</textarea>
    </div>
    <br>
    <div class="form-group row">
        <label for="last_name" class="col-sm-2 inline_form">Last Name</label>
        <textarea type="text" class="form-control col-sm-10" id="last_name" style="text-transform: lowercase" maxlength="30" name="last_name">{{edit_employee.last_name}}</textarea>
    </div>
    <br>
    <div class="form-group row">
        <label for="dob" class="col-sm-2 inline_form">Date of Birth</label>
        <input type="date" class="form-control col-sm-10" id="dob" name="dob">
    </div>
    <br>
    <div class="form-group row">
        <label for="mob_number" class="col-sm-2 inline_form">Mob Number</label>
        <textarea type="tel" class="form-control col-sm-10" id="mob" maxlength="30" name="mob">{{edit_employee.mob}}</textarea>
    </div>
    <br>
    <div class="form-group row">
        <label for="home_number" class="col-sm-2 inline_form">Home Number</label>
        <textarea type="tel" class="form-control col-sm-10" id="home_number" maxlength="30" name="home_number">{{edit_employee.home_number}}</textarea>
    </div>
    <br>
    <div class="form-group row">
        <label for="address" class="col-sm-2 inline_form">Address</label>
        <textarea type="text" class="form-control col-sm-10" id="address" maxlength="150" name="address">{{edit_employee.address}}</textarea>
    </div>
    <br>
    <hr>
    <div class="form-group row">
        <label for="next_of_kin" class="col-sm-2 inline_form">Next of kin</label>
        <textarea type="text" class="form-control col-sm-10" id="next_of_kin" maxlength="50" name="next_of_kin">{{edit_employee.next_of_kin}}</textarea>

    </div>
    <br>
    <div class="form-group row">
        <label for="next_of_kin_mob" class="col-sm-2 inline_form">Next of kin contact</label>
        <textarea type="number" class="form-control col-sm-10" id="next_of_kin_mob" maxlength="30" name="next_of_kin_mob">{{edit_employee.next_of_kin_mob}}</textarea>
    </div>
    <br>
    <hr>
    <div class="form-group row">
        <label for="bank_name" class="col-sm-2 inline_form">Bank Name</label>
        <textarea type="text" class="form-control col-sm-10" id="bank_name" maxlength="50" name="bank_name">{{edit_employee.bank_name}}</textarea>

    </div>
    <br>
    <div class="form-group row">
        <label for="bank_number" class="col-sm-2 inline_form">Bank Number</label>
        <textarea type="number" class="form-control col-sm-10" id="bank_number" maxlength="30" name="bank_number">{{edit_employee.bank_number}}</textarea>
    </div>
    <br>
    <button type="submit" name="action" class="btn btn-primary btn_employees btn-lg btn-block">Save and Next</button>
    <br>
</form>
<br>



<script>
    let date_input = '{{edit_employee.dob}}';

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("dob").value = date_input;


    }, false);
</script>

{% endblock %}