{% extends 'main.html' %}{% block main %}

<div class="testCOL">
    <div class="row ">
        <br>
        <div class="col-3 col-sm-4 vertical_down">
            <h5>Job Number: </h5>
        </div>
        <div class="col-7 col-sm-8 vertical_down">
            <h5> {{project.project_number}} </h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 vertical_down">
            <h5>Clients Name: </h5>
        </div>
        <div class="col-xs-8 col-sm-9 vertical_down">
            <h5> {{project.name}} </h5>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 vertical_down">
            <h5>Address: </h5>
        </div>
        <div class="col-xs-8 col-sm-9 vertical_down">
            <h5> {{project.address}} </h5>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 vertical_down">
            <h5>Phone: </h5>
        </div>
        <div class="col-xs-8 col-sm-9 vertical_down">
            <h5> {{project.phone}} </h5>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            <h5>Discription: </h5>
        </div>
        <div class="col-xs-8 col-sm-9 vertical_down">
            <h5> {{project.discription}} </h5>
        </div>
    </div>

    {% if session.admin == true %}
    <hr>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 vertical_down">
            <h5>Cost Type: </h5>
        </div>
        <div class="col-xs-8 col-sm-9 vertical_down">
            <h5> {{project.price_type}} </h5>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 vertical_down">
            <h5>Price: </h5>
        </div>
        <div class="col-xs-8 col-sm-9 vertical_down">
            <h5> {{project.price}} </h5>
        </div>
    </div>
    {% endif %}
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4">
            <a href="{{url_for('projects')}}" class="btn btn-primary btn_custom">Back to Projects</a>
        </div>
    </div>



</div>
{% endblock %}