{% extends 'main.html' %}{% block main %}
<h2>Employee Information</h2>
<hr>
<br>
<div class="row">
    <br>
    <div class="col-md-3 col-5">
        <h5>Name: </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.first_name}} {{employee.last_name}}</h5>
    </div>
    <div class="col-md-3 col-5">
        <h5>Username : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.username}} </h5>
    </div>

    <br>
    <br>

    <div class="col-md-3 col-5">
        <h5>Phone Number : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.mob}} </h5>
    </div>

    <div class="col-md-3 col-5">
        <h5> Home Number : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.home_number}} </h5>
    </div>


    <div class="col-md-3 col-5">
        <h5>Address : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.adress}} </h5>
    </div>

    <div class="col-md-3 col-5">
        <h5>Date of Birth : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.dob}} </h5>
    </div>
    <br>
    <br>

    <div class="col-md-3 col-5">
        <h5> Next of kin : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.next_of_kin}} </h5>
    </div>
    <div class="col-md-3 col-5">
        <h5> Next of kin Mob: </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.next_of_kin_mob}} </h5>
    </div>
    <br>
    <br>
    <div class="col-md-3 col-5">
        <h5> Bank Name : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.bank_name}} </h5>
    </div>
    <div class="col-md-3 col-5">
        <h5> Bank Number : </h5>
    </div>
    <div class="col-md-9 col-7">
        <h5> {{employee.bank_number}} </h5>
    </div>
    <br>
    <br>
    <div class="col-4">
        <a href="{{url_for('employees')}}" class="btn btn-primary btn-lg btn_employees float-left">Back</a>
    </div>
    <hr> {% endblock %}