{% extends '/main_extras/projects.html' %}{% block main_ext %}

<h1>Testing get projects</h1>

<div class="container">
    <div class="row">
        <div class="col-5">
            <h5>Clients Name: </h5>
        </div>
        <div class="col-7">
            <h5> {{projectstest.name}} </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <h5>Discription: </h5>
        </div>
        <div class="col-7">
            <h5> {{projectstest.discription}} </h5>
        </div>
    </div>






</div>
{% endblock %}