{% extends 'main.html' %}{% block main %}
<h2>develop / dɪˈvel.əp / verb: to bring out the capabilities or possibilities of; bring to a more advanced or effective state.</h3>
    <br>
    <div class="row">
        <h2 class="col-9"><b>News</b></h2>
        {% if session['admin'] %}
        <button class="btn btn-primary btn_custom col-xs-3 col-md-2" id="more_news">Add</button> {% endif %}
    </div>
    <form id="new_form" method="POST" class="hidden">
        <div class="form-group row">
            <label for="title" class="col-sm-10 inline_form">Title</label>
            <textarea type="text" class="form-control col-sm-12" id="title" name="title" aria-describedby="title" maxlength="100" rows="1"></textarea>
        </div>
        <br>
        <div class="form-group row">
            <label for="news" class="col-sm-10 inline_form">Input News</label>
            <textarea type="text" class="form-control col-sm-12" id="news" name="news" aria-describedby="news" maxlength="300" rows="3"></textarea>
        </div>
        <br>
        <div class="row">
            <button type="submit" name="action" class="btn btn-secondary btn_custom col-xs-3 col-md-2 ">Update</button>
        </div>
    </form>
    <hr>
    <br> {% for new in news %}
    <div class="row">
        <h2 class="col-9"><b>{{new.heading}}</b></h2>
        <br> {% if session['admin'] %}
        <a href="{{url_for('delete_new', new_id=new._id)}}" class="btn btn-warning btn_custom col-xs-3 col-md-2">Delete</a>{% endif %}
    </div>
    <h3>{{new.news}}</h3>

    <hr> {% endfor %} {% endblock %}