{% extends 'main.html' %}{% block main %}
<div class="heading">
    <div class="row justify-content-center">
        <h3 class="col-12">Current Projects</h3>
        <br> {% if session['admin'] %}
        <div class="col-sm-12 col-md-4">
            <a class="btn btn-primary btn_custom" href="{{url_for('add_project')}}">New Project</a>
        </div>{% endif %}
    </div>
</div>

<div class="container-fluid">
    <div class="row scroll">
        {% for project in projects %} {% if project.active== 'on' %}
        <div class="custom_col">
            <div class="row">
                <br>
                <div class="col">
                    <h5>Job Number: </h5>
                </div>
                <div class="col">
                    <h5> {{project.project_number}} </h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h5>Clients Name: </h5>
                </div>
                <div class="col">
                    <h5> {{project.name}} </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Address: </h5>
                </div>
                <div class="col">
                    <h5> {{project.address}} </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Discription: </h5>
                </div>
                <div class="col">
                    <h5> {{project.brief}} </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Active: </h5>
                </div>
                <div class="col">
                    <h5> {{project.active}} </h5>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-4">
                    <a href="{{url_for('get_projects', project_id=project._id)}}" class="btn btn-primary btn_custom">More Info</a> {% if session.admin == true %}
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="{{url_for('edit_projects', project_id=project._id)}}" class="btn btn-secondary btn_custom">Edit Project</a> {% endif %}
                </div>
            </div>
        </div>
        <hr> {% endif %} {% endfor %}
    </div>

    {% if session.admin == true %}
    <h3>Closed Projects</h3>

    <div class="row scroll">
        {% for close in closes %} {% if close.active!= 'on' %}
        <div class="custom_col">
            <div class="row">
                <br>
                <div class="col">
                    <h5>Job Number: </h5>
                </div>
                <div class="col">
                    <h5> {{close.project_number}} </h5>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col">
                    <h5>Clients Name: </h5>
                </div>
                <div class="col">
                    <h5> {{close.name}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h5>Address </h5>
                </div>
                <div class="col">
                    <h5> {{close.address}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h5>Brief Discription: </h5>
                </div>
                <div class="col">
                    <h5> {{close.brief}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h5>Active: </h5>
                </div>
                <div class="col">
                    <h5> {{close.active}} </h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <a href="{{url_for('get_projects', project_id=close._id)}}" class="btn btn-primary btn_custom">More Info</a> {% if session.admin == true %}
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="{{url_for('edit_projects', project_id=close._id)}}" class="btn btn-secondary btn_custom">Edit</a>
                </div>

                <div class="col-sm-12 col-md-4">
                    <a href="{{url_for('delete_projects', project_id=close._id)}}" class="btn btn-warning btn_custom">Delete </a>{% endif %}
                </div>
            </div>

        </div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>

{% block main_ext %} {% endblock %} {% endblock %}