{% extends 'main.html' %}{% block main %}
<div class="container-fluid">
    <div class="heading">
        <div class="row ">
            <h3 class="col-6">Current Projects</h3>
            <br> {% if session['admin'] %}
            <div class="col-sm-2 col-md-6">
                <a class="btn btn-primary btn_custom btn-lg " href="{{url_for('add_project')}}">New Project</a>
            </div>{% endif %}
        </div>
    </div>


    <div class="row scroll">
        {% for project in projects %} {% if project.active== 'on' %}
        <div class="custom_col">
            <div class="row">
                <br>
                <div class="col">
                    <h5>Job Number:</h5>
                </div>
                <div class="col">
                    {{project.project_number}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h5>Clients Name: </h5>
                </div>
                <div class="col">
                    {{project.name}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Address: </h5>
                </div>
                <div class="col">
                    {{project.address}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Discription: </h5>
                </div>
                <div class="col">
                    {{project.brief}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Active: </h5>
                </div>
                <div class="col">
                    {{project.active}}
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-4 btn-padding">
                    <a href="{{url_for('project_info', project_id=project._id)}}" class="btn btn-primary btn_custom btn-lg btn-block">Info</a> {% if session['admin'] %}
                </div>
                <div class="col-sm-12 col-md-4 btn-padding">
                    <a href="{{url_for('edit_project', project_id=project._id)}}" class="btn btn-secondary btn_custom btn-lg btn-block">Edit</a> {% endif %}
                </div>
            </div>
        </div>
        <hr> {% endif %} {% endfor %}
    </div>

    {% if session.admin == 'True' %}
    <div class="heading">
        <h3>Closed Projects</h3>
    </div>


    <div class="row scroll">
        {% for project in projects %} {% if project.active != 'on' %}
        <div class="custom_col">
            <div class="row">
                <br>
                <div class="col">
                    <h5>Job Number: </h5>
                </div>
                <div class="col">
                    <h5> {{project.project_number}} </h5>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col">
                    <h5>Clients Name: </h5>
                </div>
                <div class="col">
                    <h5> {{project.name}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h5>Address </h5>
                </div>
                <div class="col">
                    <h5> {{project.address}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h5>Brief Discription: </h5>
                </div>
                <div class="col">
                    <h5> {{project.brief}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h5>Active: </h5>
                </div>
                <div class="col">
                    <h5> {{project.active}} </h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-4 btn-padding">
                    <a href="{{url_for('project_info', project_id=project._id)}}" class="btn btn-primary btn_custom btn-lg btn-block">Info</a> {% if session.admin == 'True' %}
                </div>
                <div class="col-sm-12 col-md-4 btn-padding">
                    <a href="{{url_for('edit_project', project_id=project._id)}}" class="btn btn-secondary btn_custom btn-lg btn-block">Edit</a>
                </div>

                <div class="col-sm-12 col-md-4 btn-padding">
                    <a href="{{url_for('delete_project', project_id=project._id)}}" class="btn btn-warning btn_custom btn-lg btn-block">Delete </a>{% endif %}
                </div>
            </div>

        </div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>

{% block main_ext %} {% endblock %} {% endblock %}