{% extends 'main.html' %}{% block main %}
<div class="row row_no_margin">
    <h1>Current Projects</h1>
    {% if session['admin'] %}
    <a href="{{url_for('add_project')}}" class="button">Add Project</a>

    <br> {% endif %}
</div>

<div>
    <div class="row testingABC">
        {% for project in projects %} {% if project.active== 'on' %}
        <div class="testCOL col_size">
            <div class="row">
                <br>
                <div class="col-5">
                    <h5>Job Number: </h5>
                </div>
                <div class="col-7">
                    <h5> {{project.project_number}} </h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h5>Clients Name: </h5>
                </div>
                <div class="col-7">
                    <h5> {{project.name}} </h5>
                </div>
                <div class="col-5">
                    <h5>Address </h5>
                </div>
                <div class="col-7">
                    <h5> {{project.address}} </h5>
                </div>
                <div class="col-5">
                    <h5>Brief Discription: </h5>
                </div>
                <div class="col-7">
                    <h5> {{project.brief}} </h5>
                </div>
                <div class="col-5">
                    <h5>Active: </h5>
                </div>
                <div class="col-7">
                    <h5> {{project.active}} </h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <a href="{{url_for('get_projects', project_id=project._id)}}" class="button">More Info</a> {% if session.admin == true %}

                <a href="{{url_for('edit_projects', project_id=project._id)}}" class="button">Edit Project</a> {% endif %}
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>

    {% if session.admin == true %}
    <h2>Closed Projects</h2>

    <div class="row testingABC">
        {% for close in closes %} {% if close.active!= 'on' %}
        <div class="testCOL col_size">
            <div class="row">
                <br>
                <div class="col-5">
                    <h5>Job Number: </h5>
                </div>
                <div class="col-7">
                    <h5> {{close.project_number}} </h5>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-5">
                    <h5>Clients Name: </h5>
                </div>
                <div class="col-7">
                    <h5> {{close.name}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-5">
                    <h5>Address </h5>
                </div>
                <div class="col-7">
                    <h5> {{close.address}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-5">
                    <h5>Brief Discription: </h5>
                </div>
                <div class="col-7">
                    <h5> {{close.brief}} </h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-5">
                    <h5>Active: </h5>
                </div>
                <div class="col-7">
                    <h5> {{close.active}} </h5>
                </div>
            </div>
            <div class="row">
                <a href="{{url_for('get_projects', project_id=close._id)}}" class="button">More Info</a> {% if session.admin == true %}

                <a href="{{url_for('edit_projects', project_id=close._id)}}" class="button">Edit Project</a>
                <a href="{{url_for('delete_projects', project_id=close._id)}}" class="button">Delete Project</a>{% endif %}
            </div>
        </div>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>

{% block main_ext %} {% endblock %} {% endblock %}