{% extends 'main.html' %}{% block main %}

<h3>Time log</h3>
date: {{ time }}
<br> week number: {{ weekdays }}
<br> day: {{ day }}
<br>

<br>

<div class="row">

    <br>{% for www, aaa, bbb in testing %}
    <div class="col">

        <div class="row">{{ aaa }}</div>
        {% if www == bbb.date %}
        <div class="row">{{ www }}</div>
        <div class="row">{{ bbb.date }}</div>
        {% else %}
        <div class="row">{{ www }}</div>

        {% endif %}
    </div>
    {% endfor %}
</div>

<br>

<br><br>

<br>





<h3>testing projects</h3>
{% for project in projects %} {{project.project_number}} {% endfor %}

<h3>test</h3>
{% for fuck in testingABC %} {{ fuck.project_number}} {{ fuck.hours}} {{fuck.date}} {% endfor %}



<h3>test</h3>
<br> {{ r }} {{ day_names }}
<br>
<br> {{ datestest }} {% endblock %}