{% extends '/main_extras/timelogs.html' %}{% block time_log %}

<form id="personal_form" method="POST" action="{{ url_for('time_log_new') }}">
    <div class="form-group row">
        <label for="project_number" class="col-sm-2 inline_form">Project Number</label>
        <select class="form-control col-sm-8" name="project_number" id="project_number" required>
            
            <option>{{worked.project_number}}</option>
            {% for pro in projects %}{% if pro.active == "on" %}
            <option>{{pro.project_number}}</option>
            {% endif %}{% endfor %}  
            </select>
    </div>
    <br>
    <div class="form-group row">
        <label for="date" class="col-sm-2 inline_form">Date</label>
        <input type="date" class="form-control col-sm-8" id="date_timelog" name="date" required>

    </div>
    <br>
    <div class="form-group row">
        <label for="hours" class="col-sm-2 inline_form">Hours Worked</label>
        <textarea type="number" class="form-control col-sm-8" id="hours" name="hours" rows="1" required max="24">{{worked.hours}}</textarea>
    </div>
    <br>
    <div class="form-group row">
        <label for="notes" class="col-sm-2 inline_form">Notes</label>
        <textarea type="text" class="form-control col-sm-8" id="notes" name="notes" rows="2" required>{{worked.notes}}</textarea>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <button type="submit" class="btn btn-primary col-sm-4">Save day</button>
    </div>
    <br>
</form>

<script>
    let date_input = '{{worked.date}}';

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("date_timelog").value = date_input;


    }, false);
</script>

{% endblock %}