{% extends 'main.html' %}{% block main %}


<h3>Calendar</h3>
<br>
<div class="row">
    <div class="input-field col s12" id="matfix">
        <i class="material-icons prefix">today</i>
        <input id="due_date" name="due_date" type="text" class="datepicker">
        <label for="icon_prefix">Due Date</label>
    </div>
</div>
<h3>date checker</h3>
<br>
<h3>Project number and address</h3>
<br>
<h3>Notes on what has been done</h3>
<br>


<!-- <script type="text/javascript">
    document.getElementById("matfix").addEventListener("click", function(e) {
        e.stopPropagation();
    });
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
    });
</script> -->

{% endblock %}