{% extends 'main.html' %}{% block main %}
<div class="heading">
    <div class="row ">
        <h3 class="col">Change the welcome password</h3>
    </div>
</div>
<br>
<form id="personal_form" method="POST">
    <div class="form-group row">
        <label for="welcome_password" class="col-sm-3 inline_form">New Password</label>
        <textarea type="text" class="form-control col-sm-6" id="welcome_password" name="welcome_password" maxlength="30" aria-describedby="first_name"></textarea>

    </div>
    <br>
    <div class="row">
        <button type="submit" class="btn btn-primary btn_employees col-4 float-left">Save</button>
    </div>
</form>
{% endblock %}